<h2>Apply for a position here at Art Connoisseurs</h2>

<%= form_for @specialist do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :speciality %>
<%= f.text_field :speciality%>

<%= f.label :bio %>
<%= f.text_field :bio %>

<%= f.submit %>
<%end%>

<% if flash[:specialist_errors] %>
    <% flash[:specialist_errors].each do |error| %>
        <p style="color:red;"> <%= error %></p>
    <% end %>
<% end %>

