<h2><%= @specialist.name %> </h2>
<h3 class="art"><%= image_tag @specialist.image_path %></h3>

<p>Bio: <%= @specialist.bio %> </p>

<%# <%= button_to "Resign", specialist_path, method: :delete %>
<p> <%= link_to "Back", :back %> </p>