<%= form_for @viewing do |f| %>

<%= f.label :time %>
<%= f.text_field :time %>

<%= f.label :day %>
<%= f.select :day, ['Friday', 'Saturday', 'Sunday'] %>

<%= f.label :artwork_id %>
<%= f.collection_select :artwork_id, Artwork.all, :id, :name %>

<%= f.label :user_id %>
<%= f.collection_select :user_id, User.all, :id, :name %>

<%= f.submit %>
<%end%>

<% if flash[:viewing_errors] %>
    <% flash[:viewing_errors].each do |error| %>
        <p style="color:red;"> <%= error %></p>
    <% end %>
<% end %>

<p> <%= link_to "Back", :back %> </p>

