<h3>Artwork: <%= link_to @viewing.artwork.name, artwork_path(@viewing.artwork) %></h3>
<h3>Specialist: <%= link_to @viewing.artwork.specialist.name, specialist_path(@viewing.artwork.specialist) %></h3>






<p> <%= link_to "Back", :back %> </p>
<%= link_to "Edit", edit_viewing_path %>
<%= button_to "Cancel", viewing_path, method: :delete %>