

<h3 class="art"><%= image_tag @artwork.artwork_path %></h3>
<h1><%= @artwork.name %></h1>
<h2> <%= @artwork.artist_name%> </h2>
<h4>Size: <%= @artwork.size %></h4>
<h4>Medium: <%= @artwork.medium %></h4>
<h4>Specialist: <%= link_to @artwork.specialist.name, specialist_path(@artwork.specialist) %> </h4>

<ul>
<li><%= link_to "Schedule a viewing", new_viewing_path %></li>
<li><%= link_to "Back to Index", artworks_path %></li>
<li><%= link_to "Back", :back %></li>

</ul>