

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name%>

<%= f.submit %>
<%end%>

<% if flash[:user_errors] %>
    <% flash[:user_errors].each do |error| %>
        <p style="color:red;"> <%= error %></p>
    <% end %>
<% end %>