<h2><%= @user.name%></h2>

<ul>
<% @user.viewings.each do |viewing| %>
<li>
<%= link_to viewing.artwork.name, artwork_path(viewing.artwork) %>
<%= viewing.time %>

<%end%>
</li>
</ul>



<%= button_to "Remove", user_path, method: :delete %>
<%= link_to "Back", :back %>