<h1>Enter Gallery Location</h1>
<%= form_for @gallerylocations do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.submit %>
    <% end %>