<!DOCTYPE html>
<html>
  <head>
    <title>ArtConnoisseurs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <ul class="nav">
      <li><%= link_to "Artworks", artworks_path %></li>
      <li><%= link_to "Viewings", viewings_path %></li>
      <li><%= link_to "Specialists", specialists_path %></li>
      <li><%= link_to "Gallery Locations", gallerylocations_path %></li>

      <% if @current_user %>
        <li class="right">Welcome!!! <%= @current_user.name %></li>
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>

  
    <%= yield %>
  </body>
</html>
