<!DOCTYPE html>
<html>
  <head>
    <title>ArtConnoisseurs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
    <div class="container">

    <img src="https://images-ext-2.discordapp.net/external/K1xoFNqlIxJPtyyWmxQgQwyhdTv2VCCtkfTSLxHMLU8/https/fineartconnoisseur.com/wp-content/uploads/sites/2/2018/02/FACRETINABIG.png?width=400&height=132" alt="logo" class="logo">
        <nav>
          <ul>
            <li class="left"><%= link_to "Artworks", artworks_path %></li>
            <li class="left"><%= link_to "Viewings", viewings_path %></li>
            <li class="left"><%= link_to "Specialists", specialists_path %></li>
            <li class="left"><%= link_to "Gallery Locations", gallerylocations_path %></li>
            

            <% if @current_user %>
              <li class="right welcome">Welcome <%=@current_user.name%>!</li>
              <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
            <% else %>
              <li class="right"><%= link_to "LogIn", new_login_path %></li>
              <li class="right"><%= link_to "Sign Up", new_user_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  
    <%= yield %>
  </body>
</html>
